.section-brand {
  background-color: #0f0f0f;
  &__container {
    max-width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  &__title {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    &::after {
      content: '';
      border-bottom: 1px solid #ffffff;
      width: 120px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include xs-min {
      padding-bottom: 80px;
    }
    @include xs {
      flex-wrap: wrap;
      padding-bottom: 50px;
    }
  }

  &__link {
    @include xs-min {
      flex: 0 0 25%;
    }
    @include xs {
      width: 100%;
      text-align: center;
    }

    & img {
      @include xl-md {
        max-width: 190px;
      }
      @include md-xs {
        max-width: 115px;
      }
      @include xs {
        width: 200px;
      }
      
    }
  }
}
