.section-collection__container {
  display: flex;
  flex-wrap: wrap;
}

.collection {

  &-season {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    order: 1;
    @include xl-min {
      flex: 0 0 54.16%;
      max-height: 730px;
    }
    @include xl-sm {
      width: 100%;
      max-height: 730px;
    }
    @include sm {
      height: 100%;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__title {
      position: relative;
      text-align: center;
      margin-top: 93px;
      padding-bottom: 50px;
      width: 100%;
      margin-bottom: 50px;
      &::after {
        content: '';
        border-bottom: 1px solid #ffffff;
        width: 120px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

    }
    &__card {
      justify-content: center;

      @include xxl-min {
        padding: 0 20px;
        flex: 0 0 33.33%;
      }

      @include xxl-ul {
        padding: 0 20px;
        flex: 0 0 33.33%;
      }
      @include ul-xl {
        padding: 0 5px;
        flex: 0 0 33.33%;
      }
      @include xl-md {
        padding: 0 30px;
        flex: 0 0 33.33%;
      }
      @include md-sm {
        padding: 0 10px;
        flex: 0 0 33.33%;
      }
      @include sm-xs {
        padding: 0 5px;
        flex: 0 0 33.33%;
      }
      @include xs {
        padding-left: 30px;
        width: 320px;
      }
    }

    &__image {
      background-color: #191b1c;
      margin: 0;
      @include xxl-min {
        max-width: 260px;
        max-height: 325px;
      }
      @include xxl-ul {
        max-width: 200px;
        max-height: 250px;
      }
      @include ul-md {
        max-width: 190px;
        max-height: 240px;
      }
      @include md-sm {
        max-width: 160px;
        max-height: 200px;
      }
      @include sm-xs {
        max-width: 140px;
        max-height: 180px;
      }
      @include xs {
        max-width: 260px;
        max-height: 325px;
      }

      & img {
        background-position: center;
        margin: 0;

        @include xxl-min {
          max-width: 214px;
          max-height: 215px;
          margin: 55px 22px;
        }
        @include xxl-ul {
          max-width: 200px;
          max-height: 200px;
          margin: 33px 5px;
        }
        @include ul-md {
          max-width: 190px;
          max-height: 190px;
          margin: 27px 2px;
        }
        @include md-sm {
          max-width: 160px;
          max-height: 180px;
          margin: 27px 2px;
        }
        @include sm-xs {
          max-width: 140px;
          max-height: 180px;
          margin: 27px 2px;
        }
        @include xs {
          max-width: 214px;
          max-height: 215px;
          margin: 55px 22px;
        }
      }
    }
    &__text {
      @include ul-min {
        margin: 0 auto;
        max-width: 260px;
      }
      @include ul{
        max-width: 190px;
      }
    }
  
    &__brand {
      font-size: 1.125rem;
      line-height: 1.5rem;
      padding: 25px 0 10px;
      @include ul{
        max-width: 190px;
      }
    }

    &__price {
      line-height: 1.3125rem;
      @include xl-min {
        margin-right: 0;
        max-width: 200px;
        margin-bottom: 93px;
      }
      @include xl-sm {
        margin-right: 0;
        max-width: 200px;
        margin-bottom: 73px;
      }
      @include sm {
        margin-right: 0;
        max-width: 200px;
        margin-bottom: 43px;
      }
    }
  }

  &-new {
    order: 2;
    background-image: url('/assets/img/new.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;

    @include xl-min {
      flex: 0 0 45.84%;
    }
    @include xl {
      width: 100%;
    }

    &__title {
      position: relative;
      padding-top: 484px;
      padding-bottom: 30px;
      margin-bottom: 30px;
    
      

      &::after {
        content: '';
        border-bottom: 1px solid #ffffff;
        width: 120px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }
    }

    &__link {
      padding: 12px 28px;
      font-family: 'PT Sans';
      font-size: 1.125rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border: 1px solid #ffffff;
      transition: background-color 0.5s;
      &:hover {
        background-color: #1f1f1f;
      }

      @include xl {
        margin-bottom: 30px;
      }
    }
  }

  &-content {
    order: 3;
    background-image: url('/assets/img/content.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 600px;

    @include md-min {
      flex: 0 0 45.84%;
    }
    @include md {
      display: none;
    }
  }

  &-old {

    order: 4;
    text-align: center;
    width: 100%;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    @include md-min {
      flex: 0 0 54.16%;
    }
    @include md {
      width: 100%;
    }

    &__title {
      position: relative;
      margin-top: 100px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      &::after {
        content: '';
        border-bottom: 1px solid #ffffff;
        width: 120px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }
    }

    &__text {
      max-width: 471px;
      text-align: center;
      margin: 0 auto 61px;
      font-family: 'PT Sans';
      font-size: 0.875rem;
      line-height: 1.376rem;
    }

    &__link {
      font-family: 'PT Sans';
      font-size: 1.125rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border: 1px solid #ffffff;
      transition: background-color 0.5s;
      &:hover {
        background-color: #1f1f1f;
      }

      @include xs-min {
        padding: 12px 28px;
        margin-bottom: 100px;
      }
      @include md-xs {
        padding: 12px 12px;
        margin-bottom: 50px;
      }
      @include xs {
        padding: 12px 12px;
        margin-bottom: 30px;
      }
    }
  }
}
