* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: 'Playfair Display';
  background-color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}