

@font-face {
	font-family: 'post no bills jaffna-bold';
	src:  url(../fonts/PostNoBillsJaffna-Bold.ttf) format('truetype');
	src:  url(../fonts/PostNoBillsJaffna-Bold.eot),
				url(../fonts/PostNoBillsJaffna-Bold.woff2) format('woff2'),
				url(../fonts/PostNoBillsJaffna-Bold.woff) format('woff');
	  font-weight: bold;
	  font-style: normal;
	  font-display: swap;
}

