/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'PostNoBillsJaffna-Regular';
  src: url(../libs/fonts/PostNoBillsJaffna-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PostNoBillsJaffna-Medium';
  src: url(/libs/fonts/PostNoBillsJaffna-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PostNoBillsJaffna-SemiBold';
  src: url(/libs/fonts/PostNoBillsJaffna-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PostNoBillsJaffna-Bold';
  src: url(/libs/fonts/PostNoBillsJaffna-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* xxl */
/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: 'Playfair Display';
  background-color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.title {
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-top__container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PT Sans';
  color: #969696;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__telephone {
  position: relative;
  border-right: 1px solid #969696;
}

.header__telephone::before {
  content: '';
  background-image: url("../img/tel.svg");
  background-size: cover;
  background-position: 50% 50%;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__schedule {
  border-right: 1px solid #969696;
}

.header-menu {
  background-color: #0f0f0f;
}

.header-menu__container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  max-height: 80px;
  margin: 0 auto;
}

.header-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  padding: 15px 0 16px;
}

.header-logo__link {
  font-family: 'Post No Bills Jaffna';
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.375rem;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navbar__btn {
  position: relative;
  width: 30px;
  height: 22.5px;
  margin: 28px 0;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header-navbar__btn-row {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  border-radius: 3px;
  background: #ffffff;
}

.header-navbar__btn-row:nth-child(1) {
  top: 0;
}

.header-navbar__btn-row:nth-child(2), .header-navbar__btn-row:nth-child(3) {
  top: 9px;
}

.header-navbar__btn-row:nth-child(4) {
  top: 18px;
}

.header-navbar__btn--active div:nth-child(1) {
  top: 9px;
  left: 50%;
  width: 0;
}

.header-navbar__btn--active div:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-navbar__btn--active div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-navbar__btn--active div:nth-child(4) {
  top: 9px;
  left: 50%;
  width: 0;
}

.header-navbar__list {
  position: relative;
}

.header-navbar__list.header-navbar__list--active {
  position: absolute;
  right: 0;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 6, 0.9);
  z-index: 4;
}

.header-navbar__item {
  padding: 29px 20px 25px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  max-height: 80px;
  cursor: pointer;
}

.header-navbar__item:hover .header-navbar__link {
  color: #ffffff;
}

.header-navbar__item:nth-of-type(1):hover {
  background-color: #1f1f1f;
}

.header-navbar__item:nth-of-type(2):hover {
  background-color: #1f1f1f;
}

.header-navbar__item:nth-of-type(3):hover {
  background-color: #1f1f1f;
}

.header-navbar__item:nth-of-type(4) {
  margin-left: 20px;
}

.header-navbar__item:nth-child(5) {
  padding-right: 0;
}

.header-navbar__link {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  color: #969696;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.header-user__link {
  position: relative;
}

.header-user__link::before {
  content: '';
  position: absolute;
  background-image: url("../img/icon-logo.svg");
  background-size: cover;
  background-position: 50% 50%;
  width: 14px;
  height: 13px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section-forten {
  background-image: url("../img/section-content.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.section-forten__container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content__inner {
  border: 4px solid #ffffff;
  width: 320px;
  height: 320px;
}

.section-content__title {
  position: relative;
  font-family: 'Post No Bills Jaffna';
  font-weight: 700;
  font-size: 4rem;
  line-height: 3.75rem;
  padding: 100px 68px 10px 67px;
  text-align: center;
  text-transform: uppercase;
}

.section-content__title::after {
  content: '';
  position: absolute;
  border: 2px solid #FFFFFF;
  width: 179px;
  left: 68px;
}

.section-content__subtitle {
  font-family: 'PT Sans';
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 58px 94px 65px;
  color: #ffffff;
}

.section-inner {
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
}

.section-inner__text {
  font-family: 'PT Sans';
  text-transform: uppercase;
  line-height: 1.36rem;
}

.section-collection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection-season {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.collection-season__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-season__title {
  position: relative;
  text-align: center;
  margin-top: 93px;
  padding-bottom: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.collection-season__title::after {
  content: '';
  border-bottom: 1px solid #ffffff;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.collection-season__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection-season__card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-season__image {
  background-color: #191b1c;
  margin: 0;
}

.collection-season__image img {
  background-position: center;
  margin: 0;
}

.collection-season__brand {
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 25px 0 10px;
}

.collection-season__price {
  line-height: 1.3125rem;
}

.collection-new {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.collection-new__title {
  position: relative;
  padding-top: 484px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.collection-new__title::after {
  content: '';
  border-bottom: 1px solid #ffffff;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.collection-new__link {
  padding: 12px 28px;
  font-family: 'PT Sans';
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.collection-new__link:hover {
  background-color: #1f1f1f;
}

.collection-content {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-image: url("../img/content.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 600px;
}

.collection-old {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  text-align: center;
  width: 100%;
  max-height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection-old__title {
  position: relative;
  margin-top: 100px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.collection-old__title::after {
  content: '';
  border-bottom: 1px solid #ffffff;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.collection-old__text {
  max-width: 471px;
  text-align: center;
  margin: 0 auto 61px;
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.376rem;
}

.collection-old__link {
  font-family: 'PT Sans';
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.collection-old__link:hover {
  background-color: #1f1f1f;
}

.section-new__container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-new__title {
  position: relative;
  margin-top: 120px;
  padding-bottom: 40px;
  margin-bottom: 81px;
}

.section-new__title::after {
  content: '';
  border-bottom: 1px solid #ffffff;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.new-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new-content__card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.new-content__image {
  background-color: #191b1c;
  margin: 0 auto;
}

.new-content__image img {
  background-position: center;
}

.new-content__brand {
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 25px 0 10px;
}

.new-content__price {
  line-height: 1.3125rem;
}

.section-brand {
  background-color: #0f0f0f;
}

.section-brand__container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-brand__title {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.section-brand__title::after {
  content: '';
  border-bottom: 1px solid #ffffff;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.section-brand__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-info {
  background-image: url("../img/section-info.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-info__container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-info__title {
  padding-top: 80px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.section-shop__text {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  color: #ffffff;
}

.section-categoties__name {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 20px 20px 0;
  background-color: #0f0f0f;
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  color: #d0d0d0;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.section-categoties__name:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

.section-mailing__text {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  margin-bottom: 37px;
}

.section-mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-mailing__input {
  background-color: rgba(255, 255, 255, 0.4);
  height: 44px;
  width: 100%;
  outline: none;
  border: none;
}

.section-mailing__input::-webkit-input-placeholder {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  color: #969696;
  padding-left: 10px;
}

.section-mailing__input::-moz-placeholder {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  color: #969696;
  padding-left: 10px;
}

.section-mailing__input:-ms-input-placeholder {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  color: #969696;
  padding-left: 10px;
}

.section-mailing__input::-ms-input-placeholder {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  color: #969696;
  padding-left: 10px;
}

.section-mailing__input::placeholder {
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  color: #969696;
  padding-left: 10px;
}

.section-mailing__btn {
  padding: 10px 20px;
  background-color: #0f0f0f;
  border: none;
  font-family: 'PT Sans';
  font-size: 0.875rem;
  line-height: 1.36rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.section-mailing__btn:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

.footer__container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-content {
  padding: 17px 0;
  text-align: center;
}

.footer-content__text {
  font-family: 'PT Sans';
  font-size: 0.75rem;
  color: #d0d0d0;
}

@media (min-width: 460px) {
  .title {
    font-size: 2.25rem;
  }
  .header-top__inner {
    min-height: 35px;
    font-size: 0.6rem;
  }
  .collection-old__link {
    padding: 12px 28px;
    margin-bottom: 100px;
  }
  .section-brand__content {
    padding-bottom: 80px;
  }
  .section-brand__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

@media (min-width: 576px) {
  .header-top__inner {
    min-height: 44px;
    font-size: 0.75rem;
  }
  .header__telephone {
    padding-left: 30px;
    padding-right: 16px;
    margin-right: 16px;
  }
  .header__schedule {
    padding-right: 16px;
    margin-right: 16px;
  }
  .header-navbar__list.header-navbar__list--active {
    top: 124px;
  }
  .header-user__link {
    padding-left: 30px;
  }
  .section-forten {
    height: calc(100vh - 124px);
  }
  .section-content__inner {
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .header-navbar__btn {
    display: none;
  }
  .header-navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .collection-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.84%;
            flex: 0 0 45.84%;
  }
  .collection-old {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54.16%;
            flex: 0 0 54.16%;
  }
  .new-content {
    margin-bottom: 150px;
  }
  .new-content__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

@media (min-width: 1130px) {
  .collection-season {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54.16%;
            flex: 0 0 54.16%;
    max-height: 730px;
  }
  .collection-season__price {
    margin-right: 0;
    max-width: 200px;
    margin-bottom: 93px;
  }
  .collection-new {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.84%;
            flex: 0 0 45.84%;
  }
  .new-content__image {
    max-width: 260px;
    max-height: 325px;
  }
  .new-content__image img {
    max-width: 214px;
    max-height: 215px;
    margin: 55px 22px;
  }
  .new-content__text {
    margin: 0 auto;
    max-width: 260px;
  }
  .section-info__shop {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .section-info__categories {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    margin-left: 30px;
  }
  .section-info__mailing {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .section-shop__text {
    margin-bottom: 100px;
  }
}

@media (min-width: 1340px) {
  .collection-season__text {
    margin: 0 auto;
    max-width: 260px;
  }
}

@media (min-width: 1500px) {
  .collection-season__card {
    padding: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .collection-season__image {
    max-width: 260px;
    max-height: 325px;
  }
  .collection-season__image img {
    max-width: 214px;
    max-height: 215px;
    margin: 55px 22px;
  }
}

@media (max-width: 1499.8px) and (min-width: 1340px) {
  .collection-season__card {
    padding: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .collection-season__image {
    max-width: 200px;
    max-height: 250px;
  }
  .collection-season__image img {
    max-width: 200px;
    max-height: 200px;
    margin: 33px 5px;
  }
}

@media (max-width: 1339.8px) {
  .collection-season__text {
    max-width: 190px;
  }
  .collection-season__brand {
    max-width: 190px;
  }
}

@media (max-width: 1339.8px) and (min-width: 1130px) {
  .collection-season__card {
    padding: 0 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
}

@media (max-width: 1339.8px) and (min-width: 768px) {
  .collection-season__image {
    max-width: 190px;
    max-height: 240px;
  }
  .collection-season__image img {
    max-width: 190px;
    max-height: 190px;
    margin: 27px 2px;
  }
}

@media (max-width: 1129.8px) {
  .collection-new {
    width: 100%;
  }
  .collection-new__link {
    margin-bottom: 30px;
  }
  .section-info__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-info__mailing {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 80px;
  }
  .section-shop__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 1129.8px) and (min-width: 576px) {
  .collection-season {
    width: 100%;
    max-height: 730px;
  }
  .collection-season__price {
    margin-right: 0;
    max-width: 200px;
    margin-bottom: 73px;
  }
}

@media (max-width: 1129.8px) and (min-width: 768px) {
  .collection-season__card {
    padding: 0 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .section-brand__link img {
    max-width: 190px;
  }
  .section-info__shop {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .section-info__categories {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-left: 20px;
  }
}

@media (max-width: 1129.8px) and (min-width: 992px) {
  .new-content__image {
    max-width: 190px;
    max-height: 240px;
  }
  .new-content__image img {
    max-width: 190px;
    max-height: 190px;
    margin: 27px 2px;
  }
  .new-content__text {
    max-width: 190px;
    margin: 0 auto;
  }
}

@media (max-width: 991.8px) {
  .new-content__text {
    max-width: 160px;
    margin: 0 auto;
  }
  .section-info__title {
    text-align: center;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .new-content__image {
    max-width: 160px;
    max-height: 200px;
  }
  .new-content__image img {
    max-width: 160px;
    max-height: 180px;
    margin: 27px 2px;
  }
}

@media (max-width: 767.8px) {
  .header-navbar__list {
    display: none;
  }
  .header-navbar__item:nth-of-type(4) {
    display: none;
  }
  .header-navbar__item:nth-child(5) {
    display: none;
  }
  .collection-content {
    display: none;
  }
  .collection-old {
    width: 100%;
  }
  .new-content {
    margin-bottom: 100px;
  }
  .new-content__image {
    max-width: 260px;
    max-height: 325px;
  }
  .new-content__image img {
    max-width: 214px;
    max-height: 215px;
    margin: 55px 22px;
  }
  .section-info__shop {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .section-info__categories {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 767.8px) and (min-width: 460px) {
  .collection-old__link {
    padding: 12px 12px;
    margin-bottom: 50px;
  }
  .section-brand__link img {
    max-width: 115px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .collection-season__card {
    padding: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .collection-season__image {
    max-width: 160px;
    max-height: 200px;
  }
  .collection-season__image img {
    max-width: 160px;
    max-height: 180px;
    margin: 27px 2px;
  }
  .new-content__card {
    width: 50%;
  }
}

@media (max-width: 575.8px) {
  .collection-season {
    height: 100%;
  }
  .collection-season__price {
    margin-right: 0;
    max-width: 200px;
    margin-bottom: 43px;
  }
  .new-content__card {
    width: 100%;
  }
}

@media (max-width: 575.8px) and (min-width: 460px) {
  .title {
    font-size: 1.75rem;
  }
  .header__telephone {
    padding-left: 25px;
    padding-right: 12px;
    margin-right: 12px;
  }
  .header__schedule {
    padding-right: 12px;
    margin-right: 12px;
  }
  .header-navbar__list.header-navbar__list--active {
    top: 115px;
  }
  .header-user__link {
    padding-left: 20px;
  }
  .section-forten {
    height: calc(100vh - 115px);
  }
  .section-content__inner {
    margin-bottom: 60px;
  }
  .section-inner__text {
    font-size: 0.875rem;
  }
  .collection-season__card {
    padding: 0 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  .collection-season__image {
    max-width: 140px;
    max-height: 180px;
  }
  .collection-season__image img {
    max-width: 140px;
    max-height: 180px;
    margin: 27px 2px;
  }
}

@media (max-width: 459.8px) {
  .title {
    font-size: 1.45rem;
  }
  .header-top__inner {
    min-height: 25px;
    font-size: 0.43rem;
  }
  .header__telephone {
    padding-left: 15px;
    padding-right: 6px;
    margin-right: 6px;
  }
  .header__schedule {
    padding-right: 6px;
    margin-right: 6px;
  }
  .header-navbar__list.header-navbar__list--active {
    top: 105px;
  }
  .header-user__link {
    padding-left: 15px;
  }
  .section-forten {
    height: calc(100vh - 105px);
  }
  .section-content__inner {
    margin-bottom: 50px;
  }
  .section-inner__text {
    font-size: 0.8125rem;
  }
  .collection-season__card {
    padding-left: 30px;
    width: 320px;
  }
  .collection-season__image {
    max-width: 260px;
    max-height: 325px;
  }
  .collection-season__image img {
    max-width: 214px;
    max-height: 215px;
    margin: 55px 22px;
  }
  .collection-old__link {
    padding: 12px 12px;
    margin-bottom: 30px;
  }
  .section-brand__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .section-brand__link {
    width: 100%;
    text-align: center;
  }
  .section-brand__link img {
    width: 200px;
  }
}
