.header {

  &-top {
    &__container {
      max-width: 1130px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'PT Sans';
      color: #969696;

      @include sm-min {
        min-height: 44px;
        font-size: 0.75rem;
      }

      @include xs-min {
        min-height: 35px;
        font-size: 0.6rem;
      }

      @include xs {
        min-height: 25px;
        font-size: 0.43rem;
      }
    }
  }

  &__box {
    display: flex;
  }

  &__telephone {
    position: relative;
    border-right: 1px solid #969696;

    @include sm-min {
      padding-left: 30px;
      padding-right: 16px;
      margin-right: 16px;
    }

    @include sm-xs {
      padding-left: 25px;
      padding-right: 12px;
      margin-right: 12px;
    }
    @include xs {
      padding-left: 15px;
      padding-right: 6px;
      margin-right: 6px;
    }


    &::before {
      content: '';
      background-image: url('/assets/img/tel.svg');
      background-size: cover;
      background-position: 50% 50%;
      width: 13px;
      height: 13px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__schedule {
    border-right: 1px solid #969696;

    @include sm-min {
      padding-right: 16px;
      margin-right: 16px;
    }

    @include sm-xs {
      padding-right: 12px;
      margin-right: 12px;
    }
    @include xs {
      padding-right: 6px;
      margin-right: 6px;
    }
  }

  &-menu {
    background-color: #0f0f0f;

    &__container {
      max-width: 1130px;
      padding-left: 15px;
      padding-right: 15px;
      max-height: 80px;
      margin: 0 auto;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
    }
  }

  &-logo {
    padding: 15px 0 16px;
    &__link {
      font-family: 'PostNoBillsJaffna-Bold';
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 3.375rem;
    }
  }

  &-navbar {
    display: flex;
    &__btn {
      position: relative;

      width: 30px;
      height: 22.5px;
      margin: 28px 0;

      cursor: pointer;
      transition: 0.5s ease-in-out;
      transform: rotate(0deg);

      @include md-min {
        display: none;
      }

      &-row {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 3px;

        transition: 0.25s ease-in-out;
        transform: rotate(0deg);

        opacity: 1;
        border-radius: 3px;
        background: #ffffff;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 9px;
        }

        &:nth-child(4) {
          top: 18px;
        }
      }

      &--active div:nth-child(1) {
        top: 9px;
        left: 50%;
  
        width: 0;
      }
  
      &--active div:nth-child(2) {
        transform: rotate(45deg);
      }
  
      &--active div:nth-child(3) {
        transform: rotate(-45deg);
      }
  
      &--active div:nth-child(4) {
        top: 9px;
        left: 50%;
  
        width: 0;
      }
    }

    &__list {

      position: relative;

      @include md-min {
        display: flex;
        justify-content: space-around;
      }
      @include md {
        display: none;
      }
      &.header-navbar__list--active {
        position: absolute;
        right: 0;
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 6, 0.9);
        z-index: 4;

        @include sm-min {
          top: 124px;
        }
        @include sm-xs {
          top: 115px;
        }
        @include xs {
          top: 105px;
        }
      }
    }

    &__item {
      padding: 29px 20px 25px;
      transition: background-color 0.5s;
      max-height: 80px;
      cursor: pointer;

      &:hover {
        & .header-navbar__link {
          color: #ffffff;
        }
      }

      &:nth-of-type(1) {
        &:hover {
          background-color: #1f1f1f;
        }
      }
      &:nth-of-type(2) {
        &:hover {
          background-color: #1f1f1f;
        }
      }
      &:nth-of-type(3) {
        &:hover {
          background-color: #1f1f1f;
        }
      }
    
      &:nth-of-type(4) {
        margin-left: 20px;
        @include md {
          display: none;
        }
      }
      &:nth-child(5) {
        padding-right: 0;
        @include md {
          display: none;
        }
      }
    }

    &__link {
      font-family: 'PT Sans';
      font-size: 0.875rem;
      line-height: 1.125rem;
      text-transform: uppercase;
      color: #969696;
      transition: color 0.5s;
    }
  }
}



.header-user__link {
  position: relative;

  @include sm-min {
    padding-left: 30px;
  }
  @include sm-xs {
    padding-left: 20px;
  }
  @include xs {
    padding-left: 15px;
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url('/assets/img/icon-logo.svg');
    background-size: cover;
    background-position: 50% 50%;
    width: 14px;
    height: 13px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}


